*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: green;
}

header {
  display: flex;
}

canvas {
  background-color: white;
  border: 1px solid black;
}

img {
  height: 100px;
  width: 100px;
}